<ul id="footer">
    <li><a href="#" class="link fab fa-facebook"></a></li>
    <li><a href="#" class="link fab fa-twitter"></a></li>
    <li><a href="#" class="link fab fa-instagram"></a></li>
    <li><a href="#" class="link fab fa-tiktok"></a></li>
</ul>