<div class="title">
    <h1>Welcome to Gueuse Production</h1>
</div>

<div id="intro">
    <p>We are here to guide you finding the right solution for your needs.</p>
    <p>From small productions to big ones, we welcome diverse projects.</p>
    <p>We will have the right answer at the right time.</p>
    <p>If you have any question, please contact us.</p>
</div>

<div class="prod-display video">
    <a href="#">
        <h3>Photo & Video</h3>
    </a>
</div>

<div class="prod-display audio">
    <a href="#">
        <h3>Audio</h3>
    </a>
</div>

<div class="prod-display light">
    <a href="#">
        <h3>Light</h3>
    </a>
</div>

<div class="btn">
    <button><a href="/products">All Products</a></button>
</div>